<section>
<%= if @children.docs != [] do %>
<aside>
  <h2>Documents:</h2>
  <ul>
  <%= for doc <- Enum.sort_by(@children.docs, & &1.title) do %>
  <li>
    <a href="<%= doc.href %>"><%= doc.title %></a>
  </li>
  <% end %>
  </ul>
</aside>
<% end %>

<%= if @children.files != [] do %>
<aside>
  <h2>Files:</h2>
  <ul>
  <%= for file <- Enum.sort_by(@children.files, & &1.name) do %>
  <li>
    <a href="<%= file.href %>"><%= file.name %></a>
  </li>
  <% end %>
  </ul>
</aside>
<% end %>

<%= if @children.images != [] do %>
<aside>
  <h2>Images:</h2>
  <%= for image <- Enum.sort_by(@children.images, & &1.name) do %>
  <figure>
    <a href="<%= image.href %>"><img src="<%= image.href %>"/></a>
    <%= if image.meta do %>
    <figcaption>
    Shot with <%= image.meta.exif.lens_model %> on <%= image.meta.exif.datetime_digitized %>
      <details>
        <summary>Full EXIF</summary>
        <table>
          <tbody>
          <%= for {k, v} <- image.meta.exif do %>
          <tr>
            <th><code><%= k %></code></th>
            <td><code><%= if is_binary(v), do: v, else: inspect(v) %></code></td>
          </tr>
          <% end %>
          </tbody>
        </table>
      </details>
    </figcaption>
    <% else %>
    <figcaption>
      <%= image.name %>
    </figcaption>
    <% end %>
  </figure>
  <% end %>
</aside>
<% end %>

<%= if @children.dirs != [] do %>
<aside>
  <h2>Sub-sections:</h2>
  <ul>
  <%= for dir <- Enum.sort_by(@children.dirs, & &1.name) do %>
  <li>
    <a href="<%= dir.href %>/index.html"><%= dir.name %></a>
  </li>
  <% end %>
  </ul>
</aside>
<% end %>
</section>

<hr/>

<section>
<small>
    Index generated automatically.
</small>
</section>

