<% use WB.Templates %>

<article>
  <%= @inner_html %>
</article>

<%= if @backlinks != [] do %>
  <h4>Backlinks</h4>
  <ul>
  <%= for {href, title} <- @backlinks do %>
      <li>
        <a href="<%= href %>"><%= title %></a>
      </li>
  <% end %>
  </ul>

  <a href="https://github.com/aerosol/wb/edit/main/doc-food/<%= @relpath %>.md">
    Edit this page
  </a>

<% end %>

<hr/>

<section>
  <small>
    <center>
      fingerprint <code><%= fingerprint(@doc) %></code> -- generated for
      <strong><%= @domain %></strong> at <%= DateTime.utc_now() %><br/>
    </center>
  </small>
</section>
